.bioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profilePicture {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;
}

.bio {
    margin: 0.5rem 0;
}

a {
    text-decoration: none;

}

a:hover {
    color: rgb(68, 131, 243);

}

.techStackContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.html,
.css,
.javaScript,
.sass,
.react,
.redux,
.typescript,
.node,
.next,
.git,
.vsCode,
.canva {
    height: 3rem;
    width: 3rem;
}


/* Media Queries */

/* Tablet */
@media (min-width:600px) {

    .pageTitle {
        padding-top: 1.5rem;
    }

    .bioContainer {
        flex-direction: row;
        align-items: start;
        gap: 1rem;
    }

    .profilePicture {
        width: 50%;
        height: 50%;

    }
}