.footerContainer {
    border-top: 1px solid rgb(226, 232, 240);
}

.footerTitle {
    margin-top: 3rem;
    text-align: center;
}

.iconsContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

a {
    color: inherit;
    cursor: pointer;
}

.gitHub,
.linkedIn,
.wordpress {
    width: 2.25rem;
    height: 2.25rem;
}