.App-logo {
  height: 20vmin;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.navButton {
  font-weight: 400;
}


.themeToggleButton {
  width: 4rem;
  height: auto;
}

.moonIcon,
.sunIcon {
  width: 50%;
  height: auto;
  background-color: rgba(177, 212, 224, 0.3);
  border-radius: 0.5rem;
  padding: 0.25rem;
}