.introduction {
    font-weight: 700;
    letter-spacing: 50;
    font-size: 2rem;
}

.role {
    font-family: 'PT Sans';
    font-size: 1.75rem;


}

.techInfo {
    font-family: 'PT Sans';
    font-size: 1.5rem;

}

.projectsCardsContainter {
    display: flex;
    flex-direction: column;
    max-width: 85vw;

}

.projectCard {
    display: grid;
}

.projectCardImage {
    width: 85vw;
    height: auto;

}

.projectCardInfo {
    display: grid;
    grid-template-columns: 1fr 2rem 2rem;
    align-items: center;
    justify-content: start;
}

.projectTitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}


.gitHubIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.tech {
    color: #808080;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0;

}

/* Media Queries */

/* Tablet */
@media (min-width:600px) {
    .introduction {
        margin-top: 4rem;
    }

    .projectsCardsContainter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100vw;
    }

    .projectCard {
        max-width: 40vw;
    }

    .projectCardImage {
        width: 40vw;
        height: auto;

    }
}

/* Desktop */
@media (min-width:960px) {}