.introduction {
    font-weight: 700;
    letter-spacing: 50;
    font-size: 2rem;
}

.techInfo {
    font-family: 'PT Sans';
    font-size: 1.5rem;

}

.projectsCardsContainter {
    display: flex;
    flex-direction: column;
    max-width: 85vw;

}

.projectCard {
    display: grid;
}

.projectCardImage {
    width: 85vw;
    height: auto;

}

.projectTitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.tech {
    color: rgb(160, 174, 192);
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0;

}

.projectCardDescription {}


/* Media Queries */

/* Tablet */
@media (min-width:600px) {
    .introduction {
        margin-top: 4rem;
    }

    .projectsCardsContainter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 40vw;
    }

    .projectCardImage {
        width: 40vw;
        height: auto;

    }
}

/* Desktop */
@media (min-width:960px) {}