.introduction {
    font-weight: 700;
    letter-spacing: 50;
}

.techInfo {
    font-family: 'PT Sans';
    font-size: 1.5rem;

}

.projectsCardsContainter {
    display: flex;

}

.projectCard {
    display: grid;
}

.projectCardImage {
    width: 75vw;
    height: auto;

}


/* Media Queries */

/* Tablet */
@media (min-width:600px) {
    .projectsCardsContainter {
        flex-wrap: wrap;
        max-width: 80vw;
    }
}

/* Desktop */
@media (min-width:960px) {}